langchain==0.3.13
langchain-text-splitters==0.3.4
langchain-chroma==0.1.4
rank-bm25==0.2.2
langchain-community==0.3.13
langchain_ollama==0.2.2
langgraph==0.2.60
pypdf==5.1.0
langchain-openai==0.2.14
python-dotenv==1.0.1